<form
  [formGroup]="registerForm"
  (ngSubmit)="registerForm.valid && register()"
  autocomplete="off"
>
  <h2 class="text-center text-primary">sign up</h2>
  <hr class="mb-3" />
  <div class="form-radio d-flex justify-content-around mb-3 px-3">
    <label>I am :</label>
    <div class="form-check form-check-inline">
      <input
        formControlName="gender"
        class="form-check-input"
        type="radio"
        value="male"
      />
      <label class="form-check-label" for="gender">Male</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        formControlName="gender"
        class="form-check-input"
        type="radio"
        value="female"
      />
      <label class="form-check-label" for="gender">Female</label>
    </div>
  </div>

  <app-text-input
    [formControl]="registerForm.controls['knownAs']"
    [label]="'Known as'"
    [iconClass]="'fa fa-pencil'"
  ></app-text-input>

  <app-date-input
    [formControl]="registerForm.controls['DOB']"
    [label]="'Date of birth'"
    [iconClass]="'fa fa-calendar'"
    [maxDate]="maxDate"
  ></app-date-input>

  <app-text-input
    [formControl]="registerForm.controls['city']"
    [label]="'City'"
    [iconClass]="'fa fa-building'"
  ></app-text-input>

  <app-text-input
    [formControl]="registerForm.controls['country']"
    [label]="'Country'"
    [iconClass]="'fa fa-globe'"
  ></app-text-input>

  <app-text-input
    [formControl]="registerForm.controls['username']"
    [label]="'Username'"
    [iconClass]="'fa fa-user'"
  ></app-text-input>

  <app-text-input
    [formControl]="registerForm.controls['password']"
    [label]="'Password'"
    [type]="'password'"
    [iconClass]="'fa fa-eye'"
  ></app-text-input>

  <app-text-input
    [formControl]="registerForm.controls['confirmPassword']"
    [label]="'Confirm password'"
    [type]="'password'"
    [iconClass]="'fa fa-eye'"
  ></app-text-input>

  <div class="form-group text-center mb-3">
    <button
      [disabled]="!registerForm.valid"
      class="btn btn-success me-3"
      type="submit"
    >
      Register
    </button>
    <button (click)="cancel()" class="btn btn-secondary" type="button">
      Cancel
    </button>
  </div>

  <!-- <div class="form-floating">
    <select id="favUser" class="form-select">
      <option disabled selected hidden>--select user--</option>
      <option
        *ngFor="let user of usersFromHomeComponent"  //<<Use this to recieving value from parent to child via component Import
        [value]="user.userName"
      >
        {{ user.userName }}
      </option>
    </select>
    <label for="favUser">Who is your favourite user?</label>
  </div> -->
</form>
<div class="row mt-5" *ngIf="validationErrors.length > 0">
  <ul class="text-primary">
    <li *ngFor="let error of validationErrors">
      {{ error }}
    </li>
  </ul>
</div>
