<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active"
      >Dating App</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <ng-container *ngIf="accountService.currentUser$ | async">
            <!-- *ngIf="accountService.currentUser$ | async" -->
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/members']"
                routerLinkActive="active"
                >Matches</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/lists']"
                routerLinkActive="active"
                >Lists</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/messages']"
                routerLinkActive="active"
                >Messages</a
              >
            </li>
            <ng-container *ngIf="accountService.currentUser$ | async">
              <li class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
              </li>
            </ng-container>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/errors']"
                routerLinkActive="active"
                >Errors Test</a
              >
            </li>
          </ng-container>
        </ul>
      </div>
      <ng-container *ngIf="accountService.currentUser$ | async as user">
        <div
          class="dropdown d-flex align-items-center justify-content-around"
          dropdown
        >
          <img
            src="{{ user.photoUrl || './assets/user.png' }}"
            alt="{{ user.userName }}"
            class="me-2"
          />
          <a
            class="dropdown-toggle text-light"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            dropdownToggle
            >Welcome {{ user.userName | titlecase }}</a
          >
          <ul class="dropdown-menu mt-3" *dropdownMenu>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/member/edit']"
                routerLinkActive="active"
                >Edit Profile</a
              >
            </li>
            <li><div class="dropdown-divider"></div></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </ng-container>
      <ng-container *ngIf="!!!(accountService.currentUser$ | async)">
        <form
          #loginForm="ngForm"
          (ngSubmit)="login()"
          autocomplete="false"
          class="d-flex"
          role="login"
        >
          <input
            name="username"
            [(ngModel)]="model.username"
            class="form-control me-2"
            type="text"
            placeholder="Username"
            autocomplete="current-password"
          />
          <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control me-2"
            type="password"
            placeholder="Password"
            autocomplete="current-password"
          />
          <button class="btn btn-success" type="submit">Login</button>
        </form>
      </ng-container>
    </div>
  </div>
</nav>
